
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="199"
    height="80"
    alt="Status Logo"
    src="../assets/images/logo.png"
  />
  
  
  <mat-toolbar> 
      <span class="fill"></span>
  
      <button mat-button class="btn">PERFILES</button>
      <button mat-button class="btn">CURSOS Y EVENTOS</button>
      <button mat-button class="btn">STATUS CARD</button>
      <button mat-button class="btn">PLANES</button>
      <button mat-button class="btn">REVISTA</button>
      <button mat-button class="btn">CONÓCENOS</button>
      <button mat-button class="sesion-btn">INICIAR SESIÓN</button>
      
    </mat-toolbar>
</div>

<div class="content" role="main">

  <!--backgroun img-->

  <div class="img-bg"></div>
    
    

  

  <!-- Footer -->
  <footer>
      
  </footer>

</div>


